POSTGRES_PORT=55432
POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_PASSWORD=assignment-1-local-password
PGADMIN_PORT=55050
PGADMIN_BIND_ADDRESS=127.0.0.1
PGADMIN_DEFAULT_EMAIL=student@course.local
PGADMIN_DEFAULT_PASSWORD=assignment-1-pgadmin-password
